@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.logoBackgroundIcon {
  position: absolute;
  margin: 0 !important;
  top: 15px;
  left: 2px;
  width: 80px;
  height: 59px;
  object-fit: cover;
  z-index: 0;
}
.kCulturePass {
  display: flex;
  align-items: center;
  width: 146px;
  flex-shrink: 0;
  z-index: 1;
}
.intro,
.kCulturePass,
.logo {
  position: relative;
}
.logo {
  width: 219px;
  height: 105px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.intro {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
}
.concert:hover,
.exhibitionExperience:hover,
.intro:hover {
  color: var(--main-blue);
}
.frameIcon {
  position: absolute;
  top: 25px;
  left: 23px;
  width: 130px;
  height: 188px;
}
.concert {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-weight: 500;
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.exhibition {
  margin: 0;
}
.exhibitionExperience {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-weight: 500;
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
}
.menuList {
  position: absolute;
  top: 64.5px;
  left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.memberSectionSubmenu {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: -46.7px;
  width: 181px;
  height: 276px;
  display: none;
  opacity: 0;
  z-index: 0;
}
.memberSectionSubmenu.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.event,
.event1 {
  position: relative;
}
.event1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 19px;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.event {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: center;
}
.event,
.event:hover .memberSectionSubmenu {
  display: flex;
}
.customerService {
  position: relative;
  cursor: pointer;
}
.customerService:hover {
  color: var(--main-blue);
}
.navigationLink {
  text-decoration: none;
  flex: 1;
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-11xl);
  justify-content: flex-end;
  gap: var(--gap-41xl);
  color: inherit;
}
.button,
.navigationLink,
.register {
  display: flex;
  align-items: center;
}
.register {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-noto-sans-kr);
  color: var(--text-black);
  text-align: center;
  justify-content: center;
  width: 52px;
  flex-shrink: 0;
}
.button {
  cursor: pointer;
  border: 1px solid var(--light-grey);
  padding: var(--padding-5xs) 15.169998168945312px var(--padding-5xs)
    var(--padding-base);
  background-color: var(--basic-white);
  border-radius: var(--br-11xs);
  box-sizing: border-box;
  width: 70px;
  height: 31px;
  flex-direction: row;
}
.button:hover {
  background-color: var(--main-blue);
  cursor: pointer;
}
.button,
.button1,
.logIn {
  justify-content: center;
}
.logIn {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-noto-sans-kr);
  color: var(--basic-white);
  text-align: center;
  display: flex;
  align-items: center;
  width: 43px;
  flex-shrink: 0;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) 16.12999725341797px var(--padding-5xs)
    var(--padding-mini);
  background-color: var(--text-black);
  border-radius: var(--br-11xs);
  width: 70px;
  height: 31px;
  box-sizing: border-box;
}
.button1:hover {
  background-color: var(--color-black);
  cursor: pointer;
}
.button1,
.memberSection,
.navigationMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.memberSection {
  width: 146.3px;
  justify-content: center;
  gap: var(--gap-8xs);
  cursor: pointer;
}
.navigationMenu {
  flex: 1;
  height: 38px;
  justify-content: flex-end;
  gap: var(--gap-lg);
  font-size: var(--font-size-sm);
  color: var(--text-black);
  font-family: var(--font-noto-sans-kr);
}
.hambugerMenuIcon {
  position: relative;
  width: 26px;
  height: 26px;
  display: none;
  cursor: pointer;
}
.headerNavigation,
.naviDiv {
  align-self: stretch;
  display: flex;
}
.headerNavigation {
  background-color: var(--color-gray-300);
  height: 105px;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-11xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
  cursor: default;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-rozha-one);
}
.naviDiv {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.p {
  margin: 0;
  font-size: var(--font-size-lg);
  font-weight: 500;
}
.email,
.title {
  position: relative;
}
.email {
  font-weight: 500;
}
.contentTop,
.div1,
.inputBox {
  display: flex;
  justify-content: flex-start;
}
.inputBox {
  border: 1px solid var(--color-gainsboro-100);
  background-color: var(--color-whitesmoke-100);
  border-radius: var(--br-6xs);
  box-sizing: border-box;
  width: 302px;
  height: 42px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-12xs) var(--padding-mini);
  align-items: center;
}
.contentTop,
.div1 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8xs);
}
.contentTop {
  gap: var(--gap-5xl);
}
.next {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-noto-sans-kr);
  color: var(--basic-white);
  text-align: center;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--main-blue);
  border-radius: var(--br-base);
  width: 302px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.button2:hover {
  background-color: var(--color-skyblue);
}
.div {
  align-items: flex-start;
  gap: 313px;
}
.column,
.contents,
.div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.contents {
  align-self: stretch;
  background-color: var(--basic-white);
  padding: var(--padding-81xl) var(--padding-131xl);
  align-items: center;
}
.column {
  flex: 1;
  align-items: flex-start;
}
.link,
.link1,
.link3,
.link4 {
  position: relative;
  display: inline-block;
  width: 206px;
}
.link1,
.link3,
.link4 {
  width: 178.67px;
}
.link3,
.link4 {
  width: 200px;
}
.link4 {
  width: 204px;
}
.footerLinks {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.column1,
.columnParent {
  flex: 1;
  display: flex;
  align-items: center;
}
.column1 {
  flex-direction: column;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  font-family: var(--font-noto-sans-kr);
}
.columnParent {
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-xs);
}
.link5 {
  cursor: pointer;
}
.div2,
.link5 {
  align-self: stretch;
  position: relative;
}
.column2,
.footerLinks1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerLinks1 {
  align-self: stretch;
  height: 137px;
  justify-content: flex-end;
  gap: var(--gap-5xs);
}
.column2 {
  flex: 1;
  justify-content: flex-start;
}
.columnWrapper,
.columns {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.columnWrapper {
  flex: 1;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  font-family: var(--font-noto-sans-kr);
}
.columns {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-0) var(--padding-0)
    var(--padding-41xl);
}
.faceBook,
.insta,
.pinter {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 25px;
  height: 25px;
  background-image: url(/public/insta1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.faceBook,
.pinter {
  background-image: url(/public/facebook1@3x.png);
}
.pinter {
  background-image: url(/public/pinter1@3x.png);
}
.sns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.license,
.licenseMark {
  display: flex;
  align-items: center;
  justify-content: center;
}
.license {
  position: relative;
  width: 286.52px;
  height: 16px;
  flex-shrink: 0;
}
.licenseMark {
  width: 555px;
  flex-direction: column;
}
.copyright,
.snsParent {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.snsParent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.copyright {
  box-shadow: 0-1px 0#e4ebf3;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-0);
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-2xs);
  color: var(--text-black);
  font-family: var(--font-inter);
}
.findPassword,
.footer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  color: var(--color-black);
}
.footer {
  align-self: stretch;
  background-color: var(--white-grey);
  border-top: 1px solid var(--light-grey);
  padding: var(--padding-45xl) var(--padding-5xl) var(--padding-0);
  gap: var(--gap-21xl);
  font-size: var(--font-size-3xl);
  font-family: var(--font-rozha-one);
}
.findPassword {
  position: relative;
  width: 100%;
  padding: var(--padding-11xl) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  font-size: var(--font-size-smi);
  font-family: var(--font-noto-sans-kr);
}
@media screen and (max-width: 1200px) {
  .navigationLink {
    display: none;
  }
  .hambugerMenuIcon {
    display: flex;
  }
  .contents,
  .headerNavigation {
    padding-left: var(--padding-41xl);
    padding-right: var(--padding-41xl);
    box-sizing: border-box;
  }
  .contents {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
  }
  .column,
  .column1,
  .columnParent {
    flex: unset;
    align-self: stretch;
  }
  .columnParent {
    flex-direction: column;
  }
  .columnWrapper,
  .columns {
    align-items: flex-end;
    justify-content: center;
  }
  .columnWrapper {
    flex: unset;
    align-self: stretch;
  }
  .columns {
    flex-direction: column;
    gap: var(--gap-3xs);
  }
}
@media screen and (max-width: 960px) {
  .naviDiv {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 600px) {
  .memberSection {
    width: auto;
    flex-direction: column;
  }
  .headerNavigation {
    align-items: center;
    justify-content: flex-start;
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
  .naviDiv {
    padding-left: var(--padding-5xs);
    padding-right: var(--padding-5xs);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 400px) {
  .contents {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 500px) {
  .contents {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .footerLinks {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .columns {
    padding-left: var(--padding-11xl);
    box-sizing: border-box;
  }
}
